.item-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

  .canvas-overlay {
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.grid-item {
  width: 32px;
  height: 32px;
  margin: 1px;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:hover::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0.25;
    z-index: 3;
  }
}
