.code-executor {
  width: 100%;
  display: flex;
  flex-direction: column;

  .toolbar {
    flex-basis: 32px;
  }

  .editor-container {
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
  }

  .active-line-marker {
    background-color: #91e1f5;
    position: relative;
  }

  .active-line-gutter {
    background-color: #91e1f5;
    position: relative;
    &::after {
      content: ">";
      font-weight: bold;
      color: #000;
      position: absolute;
      top: 0;
      left: 4px;
    }
  }

  .terminated-line-marker, .terminated-line-gutter {
    background-color: #f3d192;
    position: relative;
  }

  .error-line-marker, .error-line-gutter {
    position: relative;
    background-color: #ff9090;
  }
}
