html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.script-display {
  background: #eee;
  padding: 16px;
  font-weight: bold;
  font-family: monospace;
  line-height: 16px;
  white-space: pre;
  position: relative;
}

.highlighted {
  display: inline;
  color: #f00;
  position: relative;
  background-color: #fff;
}

.line-indicator {
  position: absolute;
  left: 0;
  top: 0;
  color: #800;
  font-weight: bold;
  z-index: 10;
}
