html, body {
  margin: 0;
  padding: 0;
}

.script-display {
  background: #eee;
  padding: 16px;
  font-weight: bold;
  font-family: monospace;
  white-space: pre;
}

.highlighted {
  display: inline;
  color: #f00;
}
